.cloud {
    z-index: 2;
    position: absolute;
}

.cloud1 {
    width: 181px;
    height: 101px;
    left: -5%;
    top: 15%;
    background: url("http://img.mukewang.com/55addfde0001aec501810101.png");
}


.cloud2 {
    width: 301px;
    height: 140px;
    right: -5%;
    background: url("http://img.mukewang.com/55addff500016df503010140.png");
}

.cloud1Anim{
    -webkit-animation-name: smallCloud;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration: infinite;
    -moz-animation-name: smallCloud;
    -moz-animation-duration: 30s;
    -moz-animation-iteration: infinite;
}

.cloud2Anim{
    -webkit-animation-name: largeCloud;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration: infinite;
    -moz-animation-name: largeCloud;
    -moz-animation-duration: 60s;
    -moz-animation-iteration: infinite;
}


@-webkit-keyframes smallCloud {
    /*？*/
}

@-moz-keyframes smallCloud {
    /*？*/
}

@-webkit-keyframes largeCloud {
    0% {
        right: -5%;
    }
    100% {
        right: 100%;
    }
}

@-moz-keyframes largeCloud {
    0% {
        right: -5%;
    }
    100% {
        right: 100%;
    }
}
